body{
    background-color: #e6bec1;
}
.titulo{
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    color: #981d26
}
.subt{
    text-align: left;
    margin-top: 0px;
    margin-left: 20px;
    

}
.Boton{
    margin-left: 5px;
    background-color: #9f5c64;
    color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.199);
}
div{
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
    background-color: #ebe6e381;
    margin-top: 30px ;
    padding: 50px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.288);
}